*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
}

.header-content{
    display: flex;
    justify-content: flex-end;
    margin: 30px 0;
}

.content{
    display: flex;
    justify-content: center;
}

#grid{
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square{
    background-color: aquamarine;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.clicked{
    background-color: rgb(255, 255, 255);
}

.clicked-bomb{
    background-color: rgb(255, 0, 0);
}